<section class="channel pure-u-1 pure-u-sm-2-5">
  <h2>+<%= channel.name %></h2>
  <p><em><%= channel.description %></em></p>

  <p>
    <%= link_to "Submit a post ≻",
          new_channel_post_path(channel),
          class: "pure-button pure-button-primary"
    %>
  </p>

  <p>
    <%= channel.subscribers.count %> subscribers

    <% if current_user %>
      <%= render partial: "subscribe", locals: { channel: @channel } %>
    <% else %>
      <p>Log in to subscribe</p>
    <% end %>
  </p>

  <p>
    Moderated by <%= random_username %>, <%= random_username %> and <%= random_username %>.
  </p>

  <h3>Network</h3>

  <ul>
    <li><a href="#">#BlackLivesMatter</a></li>
    <li><a href="#">#Socialism</a></li>
    <li><a href="#">#Communism</a></li>
    <li><a href="#">#Anarchism</a></li>
  </ul>

  <p> <%= link_to "Moderation records", "#" %> </p>

</section>
