<div style="padding: 0 0.5em; margin: 0.5em 0; border: 2px solid #aaa; line-height: 0.5;">
  <p>
    <%= comment.author.email %>
    posted
    <%= time_ago_in_words comment.created_at %>
    ago.
  </p>

  <p>
    <%= link_to "Permalink", [comment.post, comment] %>
  </p>

  <p>
    <%= comment.body %>
  </p>

  <% if recurse && !comment.children.empty? %>
    <% comment.children.each do |child| %>
      <%= render partial: "comments/comment", locals: { comment: child, recurse: true } %>
    <% end %>
  <% end %>

</div>