<section class="channel pure-u-1 pure-u-sm-2-5">
  <h2>#<%= channel.name %></h2>
  <p><em><%= channel.description %></em></p>

  <p>
    <%= link_to "Submit a post ≻", submit_post_path, class: "pure-button pure-button-primary" %>
  </p>

  <p>
    <%= channel.subscribers.count %> subscribers

    <% if current_user %>
      <% if current_user.subscribed?(channel) %>
        <%= link_to "- unsubscribe", channel_unsubscribe_path(channel),
              method: :post, class: "pure-button" %>
      <% else %>
        <%= link_to "+ subscribe", channel_subscribe_path(channel),
              method: :post, class: "pure-button" %>
      <% end %>
    <% else %>
      <p>Log in to subscribe</p>
    <% end %>
  </p>

  <p>
    Moderated by <%= random_username %>, <%= random_username %> and <%= random_username %>.
  </p>

  <h3>Network</h3>

  <ul>
    <li><a href="#">#BlackLivesMatter</a></li>
    <li><a href="#">#Socialism</a></li>
    <li><a href="#">#Communism</a></li>
    <li><a href="#">#Anarchism</a></li>
  </ul>

  <p> <%= link_to "Moderation records", "#" %> </p>

</section>