<%= render partial: "post", locals: { post: @post, show_channel: true, i: nil } %>

<% if current_user %>

  <%= form_for(@comment,
      url: submit_comment_path(@post),
      html: { class: "pure-form pure-form-stacked" }
    ) do |f| %>

    <%= f.label :body, "Post comment" %>
    <%= f.text_area :body %>
   
    <%= f.submit "Submit" %>
  <% end %>

<% else %>

  <p>Log in to post a comment.</p>

<% end %>

<% @post.top_level_comments.each do |comment| %>
  <%= render partial: "comment/comment", locals: { comment: comment, recurse: true } %>
<% end %>