<article class="post">
  <p>
    <%= link_to post.title, post.body %>
  </p>

  <p class="details">
    posted
    <%= content_tag :time, time_ago_in_words(post.created_at),
                      datetime: post.created_at.iso8601 %>
    ago by
    <%= link_to post.user.email, "#" %>

    <% if show_channel %>
      in
      <%= link_to "#" + post.channel_name, channel_url(post.channel) %>
    <% end %>
  </p>

  <p class="details">
    <%= h post.domain %>
  </p>

  <p class="details">
    <%= link_to "#{post.comments.count} comments", post %>
  </p>
</article>