<article class="post">
  <p>
    <%= link_to post.title, post.body %>
  </p>

  <p class="details">
    posted
    <%= content_tag :time, time_ago_in_words(post.created_at),
                      datetime: post.created_at.iso8601 %>
    ago by
    <%= user_link post.poster %>

    <% if show_channel %>
      in
      <%= channel_link(post.channel) %>
    <% end %>
  </p>

  <p class="details">
    <%= h post.domain %>
  </p>

  <p class="details">
    <%= link_to "#{post.comments_count} comments", post %>
  </p>
</article>