<!DOCTYPE html>
<html>
<head>
  <title>sample.text</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<header>
	<h1><a href="/"><span class="red">sample</span><b class="star">&bigstar;</b><b>text</b></a></h1>

	<h2 class="subtitle">
		<% if @channel %>
		  <%= channel_link @channel %>
		<% elsif @subtitle %>
		  <%= @subtitle %>
		<% else %>
        sample text
		<% end %>
	</h2>
</header>

<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>

<p>
  <% if current_user %>
  	Logged in as <%= current_user.handle %>.
  	<%= link_to "(logout)", destroy_user_session_path, method: :delete %>
  <% else %>
  	<%= link_to "(sign in)", new_user_session_path %>
  <% end %>
</p>

<div id="content">
<%= yield %>
</div>

</body>
</html>
